body {
  background: #e2d7dc;
}

a {
  color: #823654;
}

.App-header {
  margin: 30px 0;
  font-weight: 500;
  font-size: 80px;
  text-align: center;
  color: #510926;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
